*
{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

:root
{
	--corBranco: rgb(255, 255, 255);
	--corPreto: rgb(0, 0, 0);	
	--corCinza: #D3D3D3;
}

html, body
{
	height: 100vh;
	font-family: Arial, "Sans_serif", Helvetica;
}

a
{
	text-decoration: none;
}

header
{
	display: flex;
	background-color: var(--corPreto);
	width: 100%;
	justify-content: space-around;
}

nav
{
	color: var(--corBranco);
	font-weight: bold;
} 

header img
{
	height: 100px;
	width: 100px;
	cursor: pointer;
}

header ul
{
	margin-top: 50px;
}

header li
{
	display: inline-block;
	padding: 10px;
	cursor: pointer;
}

article
{
	height: 430px;
	width: 400px;
	box-shadow: 10px 5px 30px var(--corCinza);
}

article div
{
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

article div h2
{
	color: var(--corBranco);
	border: 4px solid var(--corBranco);
	width: 250px;
}

article h2
{
	margin-top: 17px;
	text-align: center;
}

article p
{
	padding: 20px;
	text-indent: 30px;
}

article a
{
	margin-left: auto;
}


footer
{
	height: 100vh;
	background-color: var(--corPreto);
	display: flex;
	justify-content: center;
	align-items: center;
}

footer img
{
	height: 50px;
	width: 50px;
	padding: 5px;
}

#secao-destaque
{
	background-image: url('../img/fundo-arden-1.png');
	background-size: cover;
}

#secao-ministerios h1
{
	text-align: center;
	margin: 10px;
}

#secao-ministerio-1, #secao-ministerio-2
{
	padding: 40px;
	display: flex;
	justify-content: space-around;
}

#ministerio-mulher, #ministerio-homem, #ministerio-casal,
#ministerio-missao, #ministerio-infantil, #ministerio-jovem
{
	background-size: cover;
	height: 183px;
}

#ministerio-mulher
{
	background-image: url('../img/mulher-crista-1.jpeg');
}

#ministerio-homem
{
	background-image: url('../img/homem-cristao-1.jpeg');
}

#ministerio-casal
{
	background-image: url('../img/casal-cristao-1.jpeg');
}

#ministerio-jovem
{
	background-image: url('../img/jovem-cristao-1.jpeg');
}

#ministerio-infantil
{
	background-image: url('../img/infantil-cristao-1.jpeg');
}

#ministerio-missao
{
	background-image: url('../img/missao-crista-1.jpeg');
}
